<?php

   $config = D("Basic")->select();
   $navs = D("Menu")->getBarMenus();
   $id = $_GET['id'];

   if($id&&$titleflag){
   $flag = D("News")->find($id);
   if($flag){
   $config['title'] = $flag['title'];
   }
}
$user=getIndexUsername();
$admin = getLoginUsername();
?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{$config.title}</title>
  <meta name="keywords" content="{$config.keywords}" />
  <meta name="description" content="{$config.description}" />
    <link rel="icon" href="/Public/images/headlogo.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/Public/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/Public/css/home/main.css" type="text/css" />
    <script src="/Public/js/jquery-3.4.1.js"></script>
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/dialog/layer.js"></script>
    <script src="/Public/js/dialog.js"></script>
    <script src="/Public/js/admin/common.js"></script>
    <script src="/Public/js/admin/user.js"></script>
    <script>
        $(function(){

            $('#verify_img').click(function(){

                $('#verify_img').attr('src',"__URL__/verify/random/"+Math.random());//点击事件改变图片地址

            });

        });
    </script>
    <style>
        body{
            background:url("/Public/images/timg.jpg") repeat-y;
            background-size: 100%;
            width:100%;
            height:100%
        }
    </style>
</head>
<body>
<header id="header">
  <div class="navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="/index.php">
          <img src="/Public/images/logn.jpg" alt="">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/index.php" <if condition="$result['catId'] eq 0">class="curr"</if>>首页</a></li>
        <foreach name="navs" item="vo">
          <li><a href="/index.php?c=cat&id={$vo.menu_id}" <if condition="$vo['menu_id'] eq $result['catId']">class="curr"</if>>{$vo.name}</a></li>
        </foreach>
      </ul>
        <form>
        <div class="col-lg-3 col-md-3">
            <div class="input-group" style="margin-top: 18px">
                <!--<input type="hidden" name="c" value="index"/>-->
                <!--<input type="hidden" name="a" value="search"/>-->
                <input type="text" class="form-control" placeholder="搜索相关新闻" value="{$title}" name="title" id="searchvalue"/>
                <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="search"><span class="glyphicon glyphicon-search"></span></button>
           </span>
            </div>
        </div>
        </form>
        <ul class="nav navbar-right navbar-nav ">
            <if condition = "$user neq null">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><?php echo $user ?><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/index.php?c=message"><i class="fa fa-fw fa-user"></i>给我留言</a>
                        </li>


                        <li class="divider"></li>
                        <li>
                            <a href="/index.php?c=user&a=loginout"><i class="fa fa-fw fa-power-off"></i>注销</a>
                        </li>
                    </ul>
                </li>
            <elseif condition = "$admin neq null "/>
                <li> <a href="#"><?php echo "管理员： ".$admin;?></a></li>
                <li> <a href="#" onclick="adminout.check()">注销</a></li>
             <else/>
                <li> <a href="/index.php?c=user&a=login&id=-1"<if condition="$result['catId'] eq -1">class="curr"</if>> 登录</a></li>
                <li> <a href="/index.php?c=user&a=reg&id=-2"<if condition="$result['catId'] eq -2">class="curr"</if>> 注册</a></li>
            </if>
        </ul>
    </div>
  </div>
    <script>
        $('#search').click(function(){
            var val = $('#searchvalue').val();
            //console.log(val);
            if($.trim(val)==''){

                return 0;

            }else{

                window.location.href="/index.php?a=search&title="+val;
            }

        });




    </script>
</header>