<!-- 右侧排行-->
<div class="col-sm-3 col-md-3 col-lg-3">
  <div class="right-title">
    <h3>文章排行</h3>
    <span>TOP ARTICLES</span>
  </div>

  <div class="right-content">
    <ul>
      <volist name="result['rankNews']" id="vo" key="k">
      <li class="num{$k} curr">
        <a target="_blank" href="/index.php?c=detail&id={$vo.news_id}">{$vo.small_title}</a>
        <if condition="$k eq 1">
        <div class="intro">
          {$vo.description}
        </div>
          </if>
      </li>
      </volist>
    </ul>
  </div>
  <div class="right-title">
    <h4>广告推荐</h4>
    <span>advantage</span>
  </div>
  <volist name="result['advNews']" id="vo" key="k">
    <div class="thumbnail">
      <a target="_blank" href="{$vo.url}"> <img src="{$vo.thumb}" alt="{$vo.title}">
      <div class="caption">
        <h3 style="font-size: 20px">{$vo.title}</h3>
      </div>
      </a>
    </div>
  </volist>


    </div>
