<include file="Index/header" />
<div data-am-widget="intro"
     class="am-intro am-cf am-intro-default"
>
    <div class="am-intro-hd">
        <h2 class="am-intro-title">你好，贝贝</h2>
    </div>

    <div class="am-g am-intro-bd">
        <div
                class="am-intro-left am-u-sm-5"><img src="/Public/images/dontcry.jpg" alt="beibei" /></div>
        <div
                class="am-intro-right am-u-sm-7"> 也许有一天，你对未来一片的赤诚却倒在现实的残酷之下，你发现你拼命的努力不如别人父母一两句话的直通车，
         请你静下心来，回顾的往日的每一页，DON'T CRY ,BEIBEI NEVER GIVE UP.

        </div>
    </div>
</div>
<article data-am-widget="paragraph"
         class="am-paragraph am-paragraph-default"

         data-am-paragraph="{ tableScrollable: true, pureview: true }">
       <img src="/Public/images/励志1.jpeg" />
        <p>在2019年，你对未来充满着迷茫，即使你已经努力的熬夜的学习，但你却永远找不到目标，你知道学无止境，但是你也并非
        圣人，你也很羡慕周围玩耍的同学，你知道自己的家境无法和他们一样，你知道他们出生就仿佛活到了终点，你懂只能依靠自己的努力拼搏自己的一片未来。</p>
           <img src="/Public/images/励志2.jpeg" />
    <p>
        经历了2年的大学洗礼，此时的你不像初入学校时的青涩，玩物丧志，开始会对未来尝试着努力。但是也许是快乐惯了，
        脆弱的心态经不起一丝丝挫折敲打，自闭、奔溃、等等负面的情绪涌上心头。。。
    </p>
    <img src="/Public/images/励志3.jpeg" />
    <p>
       令人欣慰的是，曾经开朗的你，结实一群可靠的朋友。他们也许不曾在你身边，但是他们会用全心全意的尝试着理解你，鼓励你。
        天底下最让人温暖的鸡汤莫过于平日里嘻嘻哈哈不正经的玩伴突然用心的鼓励你。。。
        感谢遇见！！！ MY BEST FRIENDS
    </p>
</article>




<include file="Index/footer" />